.form {
}

.form input[type="email"] {
  padding: 27px;
  padding-left: 55px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .fieldGroup {
    flex-direction: row;
  }
}

.fieldGroup input {
  flex: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background-image: url("/images/icons/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  outline-color: #ffcb47;
  box-shadow: 10px 10px 30px 0px #0000000f;
  border: 0;
  /* border: 1px solid #ffa100; */
}
.fieldGroup input:hover {
  box-shadow: 10px 10px 30px 0px #0000002e;
}

.fieldGroup button {
  height: 75px;
  width: 194px;
  left: 751px;
  top: 597px;
  border-radius: 0px;
  color: #fff;
  width: 100%;
  background-color: #ffcb47;
  padding: 27px;
  box-shadow: 10px 10px 30px 0px #ffcb474d;
  border: 0;
  /* border: 1px solid #ffa100; */
}

@media (min-width: 920px) {
    .fieldGroup button {
        width: initial;
    }
}